doctype html
html(class="no-js", lang="zh")
    head
        meta(charset="utf-8")
        meta(http-equiv="x-ua-compatible", content="ie=edge")
        title= title
        meta(name="description", description='json server')
        meta(name="viewport", content="width=device-width, initial-scale=1")
        link(rel="apple-touch-icon", href="apple-touch-icon.png")
        style#css!= css
    body
        #app
          header
            h1 json server
          textarea#editor(placeholder='输入 json 或 json schema')
        script(src=htmlWebpackPlugin.files.chunks.main.entry)

